---
import MainLayout from "../../layouts/MainLayout.astro";
// import { getAllPages } from "../../data/wordpress";
import { getPages } from "../../lib/api";

export async function getStaticPaths() {
  const data = await getPages();
  return data.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}
const { page } = Astro.props;
---

<MainLayout title={page.title.rendered}>
  <div class="page-content">
    <h1 set:html={page.title.rendered} />
    <Fragment set:html={page.content.rendered} />
  </div>
</MainLayout>
<!-- <script define:vars={{ page }}>
  console.log(page);
</script> -->