@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* @font-face {
  font-family: "Retro Cute";
  src: url("./fonts/04B_30__.TTF") format("truetype"),
    url("./fonts/04B_30__.WOFF") format("woff"),
    url("./fonts/04B_30__.WOFF2") format("woff2");
  font-display: fallback;
} */

:root {
  --bg-light: rgb(231, 208, 197);
  --bg-light-2: rgb(225, 196, 183);
  --bg-dark: rgb(149, 95, 131);
  --nav-light: rgb(185, 109, 64);
}

h1 {
  font-family: "Roboto Mono", monospace;
}

h2, h3 {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: white;

  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100vh;
}

p,
span,
li,
a,
cite,
em, 
label,
textarea, 
input, 
button {
  font-family: "Montserrat", monospace;
}

.post > p {
  line-height: 1.55rem;
}

.wp-element-caption {
  font-family: "Montserrat", monospace;
  font-style: italic;
}

.wp-block-quote {
  background-color: var(--bg-light);
  border-radius: 20px;
  font-style: italic;
  line-height: 1.3rem;
  padding: 1.5rem;
}

a {
  color: var(--nav-light);
}

.heading {
  font-size: 50px;
}

.container {
  max-width: 1500px;
  margin-inline: auto;
  padding: 1rem 2rem;
  height: 100%;
}

.post {
  padding: 1rem 2rem;
  height: 100%;
}

.aligncenter {
  text-align: center !important;
}

.alignright, .alignleft {
  text-align: center;
  margin: revert;
}

.wp-block-embed.aligncenter {
  display: flex;
  justify-content: center;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
}

.wp-block-gallery-1, .wp-block-gallery-2, .wp-block-gallery-3, .wp-block-gallery-4  {
  grid-template-columns: 1fr 1fr;
}

.wp-block-gallery-5, .wp-block-gallery-6  {
  grid-template-columns: 1fr 1fr 1fr;
}

.wp-block-gallery > .wp-block-image {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: revert;
}
@media screen and (min-width: 340px) {
  .page-content {
    width: 80%;
  }
}

@media screen and (min-width: 640px) {
  .page-content {
    width: 60%;
  }

  .container {
    padding: 0;
  }

  .wp-block-gallery {
    display: grid;
    grid-gap: 20px;
    align-items: start;
  }

  .alignleft {
    float: left;
    margin-inline: 0;
    margin-inline-end: 2em;
  }
  
  .alignright {
    float: right;
    margin-inline: 2em;
    margin-inline-end: 0;
  }

  .wp-block-gallery > .wp-block-image {
    margin: 0 0 0.5em;
  }
}
