---
import Link from "./Link.astro";

const navData = [
    {
        name: "BLOG",
        path: "/blog",
    },
    {
        name: "WORKS",
        path: "/works",
    },
];
---

<nav aria-label="primary">
    <div class="nav-bar">
        <a id="home-link" href="/" aria-label="Go home">
            <span class="title"><h1>JULIE 秋丽</h1></span>
        </a>

        <ul class="nav-list">
            {
                navData.map((item) => (
                    <Link
                        text={item.name}
                        href={item.path}
                        classes="nav-link"
                        data-navLink
                    />
                ))
            }
        </ul>
    </div>
</nav>

<style>
    a {
        text-decoration: none;
        color: black !important;
    }

    a:hover {
        color: var(--nav-light) !important;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        /* align-items: center; */
        width: 100%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.6rem 0;
    }

    [aria-label="primary"] {
        width: 100%;
    }

    .cat-icon {
        padding-right: 1rem;
    }

    .title {
        color: var(--nav-light);
        /* disappear on mobile screens */
    }

    #home-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .nav-list {
       align-content: center;
       padding: 0;
    }

    
</style>

<script>
    const navLinks = document.querySelectorAll("[data-navLink]");
    navLinks.forEach((link) => {
        if (window.location.pathname.includes(link.getAttribute("href"))) {
            link.setAttribute("aria-current", "page");
        }
    });
</script>
